/* Mobile: width < 740 px */
@media only screen and (max-width: 739px) {
    .s-full-width {
        width: 100%;
    }
    #header {
        overflow: hidden;
    }
    #nav {
        display: block;
    }
    
    #nav >li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }
    #header .search-btn {
        display: none;
    }

    #slider .text-content {
        display: none;
    }
    #nav .subnav {
        background-color: #555;
        position: unset;
    }
    #nav .subnav a{
        color: #fff;
        padding: 0.35em 2em;
        border-bottom: #333 solid 1px;
    }
    #content .member-item-mobile {
        width: 100%;
    }
    .performance-location {
        width: 100%;
        margin-bottom: 16px;
    }
    .contact-info {
        float: unset;
        width: 100%;
        margin-bottom: 16px;
    }
    .contact-form {
        float: unset;
        width: 100%;
    }
} 

/* Tablet: width >= 740 and width: < 1024px */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
    #header .menu-btn {
        display: none;
    }
}

/* PC: width >= 1024px */
@media only screen and (min-width: 1024px) {
    #header .menu-btn {
        display: none;
    }

}


